@page "/ProductoMT/Update/{id:int}"
@using PryFront_Marathon.Models
@inject HttpClient Http

<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
            <h2><strong>Actualizar Producto con ID @id</strong></h2>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
            <img src="img/icono_modificar.png" alt="img regis cliente" style="width:250px; height:250px;" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <label> Nombre Producto </label>
            <input type="text" class="form-control" @bind-value="producto.Nom_Prod" />
        </div>
        <div class="col-md-4">
            <label> Descripcion </label>
            <input type="text" class="form-control" @bind-value="producto.Descripcion" />
        </div>
         <div class="col-md-4">
            <label> Precio </label>
            <input type="decimal" class="form-control" @bind-value="producto.Precio" />
        </div>
     </div>

    <div class="row mb-4">
        <div class="col-md-3">
            <label> Modelo </label>
            <select class="form-select" @bind="producto.Cod_Modelo" aria-label="Default select example">
                <option value="-1" selected>--Seleccionar--</option>
                @foreach (var item in lista_Modelo)
                {
                    <option value="@item.Cod_Modelo">@item.Nom_Modelo</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label> Color </label>
            <select class="form-select" @bind="producto.Cod_Color" aria-label="Default select example">
                <option value="-1" selected>--Seleccionar--</option>
                @foreach (var item in lista_Color)
                {
                    <option value="@item.Cod_Color">@item.Nom_Color</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label> Marca </label>
            <select class="form-select" @bind="producto.Cod_Marca" aria-label="Default select example">
                <option value="-1" selected>--Seleccionar--</option>
                @foreach (var item in lista_Marca)
                {
                    <option value="@item.Cod_Marca">@item.Nom_Marca</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label> Categoria </label>
            <select class="form-select" @bind="producto.Cod_Cate" aria-label="Default select example">
                <option value="-1" selected>--Seleccionar--</option>
                @foreach (var item in lista_Categoria)
                {
                    <option value="@item.Cod_Cate">@item.Nom_Cate</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-4">

        <div class="col-md-3">
            <label> Talla </label>
            <select class="form-select" @bind="producto.Cod_Talla" aria-label="Default select example">
                <option value="-1" selected>--Seleccionar--</option>
                @foreach (var item in lista_Talla)
                {
                    <option value="@item.Cod_Talla">@item.Nom_Talla</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label> Stock </label>
            <input type="number" class="form-control" @bind-value="producto.Stock" />
        </div>
        <div class="col-md-3">
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen Producto</label>
                <InputFile OnChange="OnInputFileChange" class="form-control"/>
            </div>
        </div>
        <div class="col-md-3">
            <label> Estado </label>
            <select class="form-select" @bind="producto.Estado">
                <option value=0>Inactivo</option>
                <option value=1>Activo</option>
            </select>
        </div>
    </div>
        
    <div class="row mb-4 ">
        <div class="col-md-6">
            <button class="btn btn-warning w-100" @onclick="()=>UpdateProducto(id)">Actualizar</button>
        </div>
        <div class="col-md-6">
            <NavLink class="nav-link" href="ProductoMT">
                <button class="btn btn-primary w-100">Regresar</button>
            </NavLink>
        </div>
    </div>

    @if (res != "")
    {
            <div class="row justify-content-center">
                <div class="col-md-6 text-white text-center p-3" style="background-color: #ef7012;">
                    <strong>@res</strong>
                </div>
            </div>
    }
 </div>

@code {

    [Parameter]
    public int id { get; set; }

    Producto producto = new Producto();
    string res = "";

    //Listados de Perfiles, Tipo de Trabajo y Local
    public static List<Color>     lista_Color     = new List<Color>();
    public static List<Marca>     lista_Marca     = new List<Marca>();
    public static List<Modelo>    lista_Modelo    = new List<Modelo>();
    public static List<Producto>  lista_Producto  = new List<Producto>();
    public static List<Talla>     lista_Talla     = new List<Talla>();
    public static List<Categoria> lista_Categoria = new List<Categoria>();


    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;

        // Almacena solo el nombre del archivo en producto.Image_Front
        producto.Image_front = "img/" + file.Name;
    }
    async Task BuscarProducto_ID(int id)
    {
        var resp = await Http.GetFromJsonAsync<Producto>("https://localhost:44347/GetProductoID/" + id);
        producto = resp;
    }

    async Task UpdateProducto(int id)
    {
        var resJson = await Http.PostAsJsonAsync("https://localhost:44347/UpdateProducto/" + id, producto);
        res = await resJson.Content.ReadAsStringAsync();
        // Forzar que la interfaz se actualice
        StateHasChanged();

        //Le colocamos delay para q se pueda observar el mensaje
        await Task.Delay(2000);
        //Limpiamos el mensaje
        res = "";
    }

    //Metodo para cargar la lista de perfiles
    

    //Metodo para cargar la lista de Tipo de Trabajo
    async Task ListadodeModelo()
    {
        var resp = await Http.GetFromJsonAsync<List<Modelo>>("https://localhost:44347/GetListaModelo");
        lista_Modelo = resp;
    }

    //Metodo para cargar la lista de Local
    async Task ListadodeColor()
    {
        var resp = await Http.GetFromJsonAsync<List<Color>>("https://localhost:44347/GetListaColor");
        lista_Color = resp;
    }

    //Metodo para cargar la lista de Local
    async Task ListadodeMarca()
    {
        var resp = await Http.GetFromJsonAsync<List<Marca>>("https://localhost:44347/GetListaMarca");
        lista_Marca = resp;
    }

    //Metodo para cargar la lista de Local
    async Task ListadodeTalla()
    {
        var resp = await Http.GetFromJsonAsync<List<Talla>>("https://localhost:44347/GetListaTalla");
        lista_Talla = resp;
    }

    //Metodo para cargar la lista de Local
    async Task ListadodeCategoria()
    {
        var resp = await Http.GetFromJsonAsync<List<Categoria>>("https://localhost:44347/GetListaCategoria");
        lista_Categoria = resp;
    }

    protected override async Task OnInitializedAsync()
    {
        //llamamos al metodo para cargar la lista de perfiles ni bien se inicie la pagina
        await BuscarProducto_ID(id);
        await ListadodeColor();
        await ListadodeMarca();
        await ListadodeModelo();
        await ListadodeTalla();
        await ListadodeCategoria();


    }
}
